/* importing font-family - poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset browser default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.header-content-wrapper{
    /* position: relative; */
    /* z-index: 1; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
    }

    .logo{
        font-size: 30px;
        font-weight: bold;
        color: hsl(0, 80%, 30%);
    }
    /* NAVLINKS */
    .nav-link-wrapper{
        display: flex;
    }
    .nav-link{
    color:  hsl(0, 80%, 30%);
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
    transition: 0.5s;
    padding: 10px;
    }


body{
   
    /* margin:10em */
    background-color:  rgba(235,236,240,0.5);
}

.section{
    padding: 3rem;
    margin-top: 2em; 
 }
.section h2{
    font-size: 30px;
    font-weight: bold;
    color:rgb(77, 75, 68);
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
}


.left-content{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 2em;
}

/* ICONS */
.hero-media-wrapper svg{
    height: 28px;
    width: 28px;
    fill: rgb(70, 70, 70);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 50%;
    padding: 4px;
    margin: 20px 10px 50px 10px;
    transition: 0.5s;
}



h2{
    font-size: 25px;
    color: rgb(77, 75, 68);
    letter-spacing: 0em;
    text-transform: none;
    list-style-type: none; 
    margin-bottom: 1px;
}

.left-content p{
    font-size: 15px;
    color: rgb(77, 75, 68);
    line-height: 26px;
    letter-spacing: 0em;
    text-transform: none;
    list-style-type: none;
    margin-bottom: 20px;
    }

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2EDDB;
    gap: 10em;
    margin:0 auto;
    max-width: 90%;
    margin-bottom: 2em;
    padding: 2em;
}

.about-brief{
    max-width: 25em;
    margin: 0 auto;
    padding: 10px;
    line-height: 5px;
}

.profile-image{
    border-radius: 10em;
    min-height: 15em;
    
}
.btn-wrapper{
    display: flex;
    justify-content: space-between;
}
.btn{
    font-size: 10px;
    padding: 0.5em 4em;
    margin: 0 2em;
}

.right-content{
    margin-top: 100px;
}

.about-mee{
    margin: 10px auto;
    padding: 2em;
}

.right-content p{
    font-size: 12px;
    margin-bottom: 60px;
    font-size: 15px;
    color: rgb(77, 75, 68);
    line-height: 25px;
    letter-spacing: 0em;
    text-transform: none;
    list-style-type: none;
}

/* ========================================================================================================= */


/* SOCIAL MEDIA ACCOUNT */
.social-account-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.social-account-wrapper svg{
    width: 30px;
    height: 30px;
    color: hsl(0, 80%, 30%);
}

.social-account-wrapper svg:hover{
    color: black;
    cursor: pointer;
    position: relative;
    bottom: 10px;
}


@media (max-width:680px){
    
      .logo{
        font-size: 15px;
    }
    .fullname{
        font-size: 12px;
    }
    .nav-link-wrapper{
    flex-direction: row;
    }
    .nav-link{
        font-size: 10px;
    }
    .container{
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0em;
        gap: 5em;
    }
    .right-content{
        margin-top: 25px;
    }
    .right-content h2{
        margin: 0 auto;
    }

    .btn{
        margin-bottom: 3em;
    }
    .up svg{
        display: none;
    }
  

    .fullname, .brief{
        font-size: 20px;
        text-align: center;
        margin: 0 auto;
    }
    
    .work-place-wrapper{
        flex-direction: column;
    }
    
    .project-card-wrapper{
        flex-direction: column;
        width: 80%;
    }

    .project-card{
        box-shadow:
            0 10px 25px rgba(0, 0, 0, 0.2);
    }

    .project-card img{
        width: 300px;
    }

    .service-card-wrapper{
        flex-direction: column;
        width: 80%;
    }
    .form-group input{
        width: 250px;
        font-size: 12px;
    }
        
    .form-group textarea{
        width: 250px;
        height: 350px;
    }
}